.border {
  animation: border 3s ease-in-out infinite;
}

@keyframes border {
  0% {
    border: 2px solid #336d8b;
  }
  50% {
    border: 2px solid transparent;
  }
  100% {
    border: 2px solid #336d8b;
  }
}
